{{extend 'layout.html'}}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="dropdown">
                  <button onclick="myFunction()" class="dropbtn">{{=T('Select User')}}</button>
                  <div id="myDropdown" class="dropdown-content">
                      <ul class="dropdown" style="list-style: none;">
                          {{def livestatuname(link):}}
                            <li><a href="livestats?username={{=link}}">{{=link}}</a></li>
                            {{return}}
                    {{for row in usernames:}}{{livestatuname(row.username)}}{{pass}}
                          </ul>
                  </div></div>
              </div>
          </div>
      </div>
    </div>

    {{if emostats != "":}}
    <div class="section">
      <div class="container">
          <div class="row">
          <div class="col-md-6">
            <table class="table liveemotion">
                <tr class="liveemotionhead">
                  <th>User</th>
                  <td>{{=emostats.username}}</td>
                </tr>
                <tr class="liveemotionhead">
                  <th>Is the user live?</th>
                  <td>Yes</td>
                </tr>
            </table>
          </div>
          </div>
          <div class="row">
          <div class="col-md-6">
            <table class="table liveemotion">
              <thead>
                <tr class="liveemotionhead">
                  <th>Neutral</th>
                  <th>Sadness</th>
                  <th>Happiness</th>
                  <th>Disgust</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="idneutral">{{=emostats.neutral}}</td>
                  <td id="idsadness">{{=emostats.sadness}}</td>
                  <td id="idhappiness">{{=emostats.happiness}}</td>
                  <td id="iddisgust">{{=emostats.disgust}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table liveemotion">
              <thead>
                <tr class="liveemotionhead">
                  <th>Anger</th>
                  <th>Surprise</th>
                  <th>Fear</th>
                  <th>Content</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td id="idanger">{{=emostats.anger}}</td>
                    <td id="idsurprise">{{=emostats.surprise}}</td>
                    <td id="idfear">{{=emostats.fear}}</td>
                    <td id="idcontempt">{{=emostats.contempt}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-3">
            <table class="table">
              <thead>
                <tr>
                  <th>Heart Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{=emostats.heartbeat}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
        <div class="container">
        <div class="row">
          <div class="col-md-12">
              <iframe width="1100" height="800" frameborder="0" scrolling="no" src="//plot.ly/~streaming-demos/6.embed"></iframe>
              </div>
          </div>
      </div>
    </div>
    {{pass}}
    <style>
    /* Dropdown Button */
.dropbtn {
    background-color: #3e3f3a;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #4CAF50;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
        </style>
    <script>
        /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}


        </script>



    <script>
function updateData(){
$.getJSON('liveEmotion', function (data) {
      console.log(data);
        $('#idneutral').html(data["neutral"]);
        $('#idsurprise').html(data["surprise"]);
        $('#idanger').html(data["anger"]);
        $('#idhappiness').html(data["happiness"]);
        $('#iddisgust').html(data["disgust"]);
        $('#idfear').html(data["fear"]);
        $('#idsadness').html(data["sadness"]);
        $('#idcontempt').html(data["contempt"]);
      });
}
setInterval(updateData, 2000);

    </script>

